@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
}

.space__left + .space__left {
  margin-left: 1.5em;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: #4e598c, 100%;
}
